.fileDelete{
    font-size: 18px;
    cursor: pointer;
}
a{
    cursor: pointer;
}
.appointment_box_tool{
    width: 150px;
}

@media (max-width: 767px){
    .appointment_box_tool{
        width: 130px;
    }
    
    .box-header{
        padding: 13px 5px;
    }
    .box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title{
        font-size: 15px;
    }
    

}